html, body {
    font: 12px Verdana;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}
.wrapper {
    width: 750px;
    height: 644px;
    margin: 0 auto;
    overflow: hidden;
}
.clear {
    clear: both;
}
.info {
    padding-top: 185px;
    width: 600px;
    height: 644px;
    margin: 0 auto;
    background: url(../images/bg_kiosks.jpg) no-repeat;
    float: left;
}
.common_block {
    overflow: hidden;
}
.block_goods, .block_other {
    width: 260px;
    float: left;
    padding: 10px 20px;
}
.block_goods {

}
.block_other {

}
.good {
    overflow: hidden;
    width: 235px;
    height: 70px;
    background: url(../images/bg_menu.png) repeat-x;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}
.good:hover, .is_change_good {
    border: 1px solid #33e24c;
    color: #33e24c;
}
.good p {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
}
.good img {
    float: right;
}
.screen {
    background: url(../images/bg_screen.png) repeat;
    width: 300px;
    height: 82px;
    margin: 0 auto;
    border: 3px solid #fff;
}

.get_change{
    width: 235px;
    height: 70px;
    background: url(../images/bg_menu.png) repeat-x;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: bold;
    line-height: 70px;
    text-align: center;
    font-size: 15px;
}
.get_change:hover {
    border: 1px solid #07b3e2;
    color: #07b3e2;
}
.deposit_money {
    color: #fff;
    overflow: hidden;
}
.other_info {
    float: right;
    width: 130px;
    padding: 10px;
}
ul {
    list-style: none;
    padding-left: 0;
}
.nominal_money li {
    background: #fff;
    color: #000;
    width: 18px;
    padding: 5px;
    border-radius: 50px;
    margin: 5px 14px 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    float: left;
    cursor: pointer;
}
.nominal_money li:hover {
    background: #07b3e2;
    color: #fff;
}
.screen {
    color: #fff;
}
.screen p {
    padding: 1px 5px;
    margin: 0;
}
.amount_change, .amount_paid, .change_good, .change_good_amount {
    display: none;
}
